@import 'tailwindcss';

@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --font-family-brand:
    'Londrina solid', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --letter-spacing-widest-1: 0.1em;
  --letter-spacing-widest-2: 0.15em;
  --letter-spacing-widest-3: 0.2em;
  --letter-spacing-widest-4: 0.4em;

  --breakpoint-xs2: 375px;
  --breakpoint-xs: 475px;
}

.filter-gooey {
  filter: url(#gooey-filter) blur(0.5px);
}

.divider-custom {
  height: 12px;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64 0c-8.806 7.967-20.196 12-32 12C20.196 12 8.806 7.967 0 0h64Z' fill='%23fff'/%3E%3C/svg%3E");
  background-size: 64px 12px;
  background-position: center top;
  background-repeat: repeat-x;
}
